<div class="header">
  <nav id="navbar">
    <img src="assets/images/logo.png" alt="logo" class="logo">
    <ul class="menu-list" id="menus">
      <li>Home</li>
      <li>About</li>
      <li>Contact</li>
      <li>Profile</li>
    </ul>
  </nav>
</div>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero voluptas quas reiciendis culpa amet, hic odit in
  excepturi atque aliquid facilis quisquam eveniet voluptates maxime officiis quasi quae? Vitae provident illo mollitia
  modi, quas corporis consectetur harum dolores amet deserunt aperiam fugiat assumenda deleniti officiis, praesentium
  dolorem culpa libero, eum suscipit porro sed delectus! Illo ducimus veritatis ea, minima amet dolorum quis dolor
  aperiam aspernatur cum quisquam ad culpa doloremque totam iste, ex earum debitis vel ab nulla! Recusandae, deleniti.
</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero voluptas quas reiciendis culpa amet, hic odit in
  excepturi atque aliquid facilis quisquam eveniet voluptates maxime officiis quasi quae? Vitae provident illo mollitia
  modi, quas corporis consectetur harum dolores amet deserunt aperiam fugiat assumenda deleniti officiis, praesentium
  dolorem culpa libero, eum suscipit porro sed delectus! Illo ducimus veritatis ea, minima amet dolorum quis dolor
  aperiam aspernatur cum quisquam ad culpa doloremque totam iste, ex earum debitis vel ab nulla! Recusandae, deleniti.
</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero voluptas quas reiciendis culpa amet, hic odit in
  excepturi atque aliquid facilis quisquam eveniet voluptates maxime officiis quasi quae? Vitae provident illo mollitia
  modi, quas corporis consectetur harum dolores amet deserunt aperiam fugiat assumenda deleniti officiis, praesentium
  dolorem culpa libero, eum suscipit porro sed delectus! Illo ducimus veritatis ea, minima amet dolorum quis dolor
  aperiam aspernatur cum quisquam ad culpa doloremque totam iste, ex earum debitis vel ab nulla! Recusandae, deleniti.
</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero voluptas quas reiciendis culpa amet, hic odit in
  excepturi atque aliquid facilis quisquam eveniet voluptates maxime officiis quasi quae? Vitae provident illo mollitia
  modi, quas corporis consectetur harum dolores amet deserunt aperiam fugiat assumenda deleniti officiis, praesentium
  dolorem culpa libero, eum suscipit porro sed delectus! Illo ducimus veritatis ea, minima amet dolorum quis dolor
  aperiam aspernatur cum quisquam ad culpa doloremque totam iste, ex earum debitis vel ab nulla! Recusandae, deleniti.
</p>